:root {
  --ev-theme-color: rgba(45, 96, 255, 1);
  --ev-border-1: rgba(230, 239, 245, 1);
  --ev-text-1: rgba(177, 177, 177, 1);
  --ev-button-alt-border: transparent;

  --ev-up-color-1: rgb(244, 67, 54);
  --ev-up-color-2: rgba(244, 67, 54, 0.1);
  --ev-down-color-1: rgb(38, 166, 154);
  --ev-down-color-2: rgba(38, 166, 154, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 全局滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条宽度 */
  height: 8px; /* 水平滚动条高度 */
}

/* 轨道背景 */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

/* 滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif !important;
}

.font12 {
  font-size: 12px !important;
}
.font14 {
  font-size: 14px !important;
}
.font16 {
  font-size: 16px !important;
}
.font18 {
  font-size: 18px !important;
}
.font20 {
  font-size: 20px !important;
}
.font22 {
  font-size: 22px !important;
}
.font24 {
  font-size: 24px !important;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mgl-10 {
  margin-left: 10px;
}
.mgr-10 {
  margin-right: 10px;
}
