:root {
  --ev-theme-color: rgba(45, 96, 255, 1);

  --ev-c-border-1: rgba(230, 239, 245, 1);

  --ev-c-text-1: rgba(177, 177, 177, 1);

  --ev-button-alt-border: transparent;
}

:root {
  --color-background: var(--ev-c-black);
  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif !important;
}

.font12 {
  font-size: 12px!important;
}
.font14 {
  font-size: 14px!important;
}
.font16 {
  font-size: 16px!important;
}
.font18 {
  font-size: 18px!important;
}
.font20 {
  font-size: 20px!important;
}
.font22 {
  font-size: 22px!important;
}
.font24 {
  font-size: 24px!important;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mgl-10 {
  margin-left: 10px;
}
.mgr-10 {
  margin-right: 10px;
}
